header i {
    font-size: 50px;
    color: blueviolet; 
}
.icons-background {
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons-background {
    font-size: 50px;
}
.one {
    background-image: url('../images/depositphotos_14442485-stock-photo-cloudy-blue-sky-and-wood.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.testimonials {
    background-image: url('../images/unnamed.jpg');
}
.logos img {
    width: 200px;
    height: 200px;
}
.content-section {
    background-image: url('../images/images.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
}
.form-section {
   background-color: rgb(80, 80, 180);
    background-size: 100%;
    height: 500px;
}
.form-control {
    background-color: rgb(80, 80, 180);
}
input::placeholder {
   color: white !important;
    font-weight: bold;
}
footer img {
    width: 100px;
    height: 100px;
}
footer input::placeholder {
    font-weight: inherit;
    color: rgb(206, 195, 195) !important;
    padding-left: 20px;
 }
footer .form-control {
    background-color:initial;
}
footer i {
    font-size: 30px;
}
footer {
    background-image: url('../images/abstract.jpg');
}
